<h1>
    WebSockets Tutorial
    <button (click)="updateFlights()">Update flights</button>
</h1>

<hr>
<label for="timeUpdate">Time update:
    <input id="timeUpdate" type="number" [(ngModel)]="timeUpdate" (blur)="setNewInterval()">
</label>
<hr>
<textarea title="JSON" [(ngModel)]="flightDataValue"></textarea>
<hr>

<div class="main">
    <app-canceled class="column"></app-canceled>
    <app-delayed class="column"></app-delayed>
    <app-gate-changed class="column"></app-gate-changed>
</div>
