.main {
    display: flex;
    flex-wrap: wrap;
}

.column {
    border: 1px dotted #aaa;
    margin: 10px;
    flex-grow: 1;
    width: calc(33% - 20px);
    height: auto;
}

.content {
    margin: 10px;
    padding: 10px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background: rgba(0,0,0, 0.5);
    color: #fff;
    text-align: center;
}

.content-item {
    margin-bottom: 10px;
}

.head-title {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}